.fundo-index {
    background-image: url('../images/editados/contato.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
}

.ion-md-menu {
    font-size: 3rem;
    color: white;
}

.logo {
    width: 120px;
    height: 100px;
    margin-left: 17px;
}

.fundo-midias {
    background-image: url('../images/editados/midia_social.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh
}

.fundo-sites {
    background-image: url('../images/editados/sites.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh
}

.fundo-contato {
    background-image: url('../images/editados/contato1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh
}

.fundo-menu a {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.padding-link {
    padding-right: 4.5rem;
}

.img-description {
    height: 16em;
}

.padding-row{
    padding-top: 3em;
}

.footer{
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 3px;
    padding-top: 6em;
}

@media screen and (max-width: 560px){
    .img-description{
        height: 10em;
    }

    .padding-line{
        padding-top: 1em;
    }
}

@media screen and (max-height:568px){
    .footer{
        padding-top: 4em;
    }
    .padding-row{
        padding-top: 0;
    }

    .padding-line{
        padding-top: 1em;
    }
}